* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #2a2a2a;
}

#app {
    width: 100%;
    font-weight: normal;
}

:root {
    --sdufe-color: rgb(0, 97, 174);
}

.sdufe-color {
    color: rgb(0, 97, 174);
}

.sdife-bg-color {
    background-color: rgb(0, 97, 174);
}

.menu-active {
    color: var(--sdufe-color) !important;
    border-bottom-color: var(--sdufe-color) !important;
}

.no-padding {
    padding: 0 !important;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #d8d8d8;
}

.dot {
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.dot.danger {
    background-color: var(--el-color-danger);
}

.dot.success {
    background-color: var(--el-color-success);
}

.dot.primary {
    background-color: var(--el-color-primary);
}